## Business requirements
Sprocket Central Pty Ltd needs help with its customer and transactions data. The organisation has a large dataset relating to its customers, but their team is unsure how to effectively analyse it to help optimise its marketing strategy. 
## Task 1
please find the 3 datasets attached from Sprocket Central Pty Ltd: 
<br />
1) *Customer Demographic* <br />
2) *Customer Addresses*  <br/>
3) *Transaction data in the past three months*  
<br />
Can you please review the data quality to ensure that it is ready for our analysis in phase two. Remember to take note of any assumptions or issues we need to go back to the client on. As well as recommendations going forward to mitigate current data quality concerns.


“Hi there – Welcome again to the team! The client has asked our team to assess the quality of their data; as well as make recommendations on ways to clean the underlying data and mitigate these issues.  Can you please take a look at the datasets we’ve received and draft an email to them identifying the data quality issues and how this may impact our analysis going forward?

I will send through an example of a typical data quality framework that can be used as a guide. Remember to consider the join keys between the tables too. Thanks again for your help.”

In [2]:
import pandas as pd 
from matplotlib import pyplot as plt

In [3]:
excelFile = pd.ExcelFile("kpmg.xlsx")       # pip install openpyxl

In [4]:
Transactions = pd.read_excel(excelFile, 'Transactions', skiprows=[0]) 
CustomerDemographic = pd.read_excel(excelFile,'CustomerDemographic', skiprows=[0]) 
CustomerAddress = pd.read_excel(excelFile, 'CustomerAddress', skiprows=[0])
pd.set_option("display.max_columns",100) 
pd.set_option("display.max_rows",None)

In [5]:
Transactions.columns

Index(['transaction_id', 'product_id', 'customer_id', 'transaction_date',
       'online_order', 'order_status', 'brand', 'product_line',
       'product_class', 'product_size', 'list_price', 'standard_cost',
       'product_first_sold_date'],
      dtype='object')

In [6]:
Transactions = Transactions.iloc[:,0:13] 
CustomerDemographic.columns

Index(['customer_id', 'first_name', 'last_name', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title',
       'job_industry_category', 'wealth_segment', 'deceased_indicator',
       'default', 'owns_car', 'tenure'],
      dtype='object')

In [7]:
CustomerDemographic = CustomerDemographic.iloc[:,0:13] 
CustomerAddress.columns

Index(['customer_id', 'address', 'postcode', 'state', 'country',
       'property_valuation'],
      dtype='object')

In [8]:
CustomerAddress = CustomerAddress.iloc[:,0:6]  
CustomerAddress.head(0)

Empty DataFrame
Columns: [customer_id, address, postcode, state, country, property_valuation]
Index: []

In [12]:
data = pd.merge(CustomerDemographic,CustomerAddress, on="customer_id")  
data = pd.merge(Transactions,data, on="customer_id") 
data.to_csv("customerData.csv")

In [31]:
print(" Size of the data set",data.shape,"\n","Number of Unique values per column \n")
for column in data.columns:
    print(column," : ",data[column].unique().shape[0])

 Size of the data set (19968, 30)
 Number of Unique values per column

transaction_id  :  19968
product_id  :  101
customer_id  :  3489
transaction_date  :  364
online_order  :  3
order_status  :  2
brand  :  7
product_line  :  5
product_class  :  4
product_size  :  4
list_price  :  294
standard_cost  :  101
product_first_sold_date  :  101
first_name  :  2835
last_name  :  3264
gender  :  6
past_3_years_bike_related_purchases  :  100
DOB  :  3048
job_title  :  196
job_industry_category  :  10
wealth_segment  :  3
deceased_indicator  :  2
default  :  91
owns_car  :  2
tenure  :  23
address  :  3487
postcode  :  835
state  :  5
country  :  1
property_valuation  :  12

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19968 entries, 0 to 19967
Data columns (total 30 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   transaction_id                       19968 non-null  int64
 1   product_id                           19968 non-null  int64
 2   customer_id                          19968 non-null  int64
 3   transaction_date                     19968 non-null  datetime64[ns]
 4   online_order                         19609 non-null  float64
 5   order_status                         19968 non-null  object
 6   brand                                19773 non-null  object
 7   product_line                         19773 non-null  object
 8   product_class                        19773 non-null  object
 9   product_size                         19773 non-null  object
 10  list_price                           19968 non-null  float64
 11  standard_cost                        19773 non-null  float64
 12  product_first_sold_date              19773 non-null  float64
 13  first_name                           19968 non-null  object
 14  last_name                            19326 non-null  object
 15  gender                               19968 non-null  object
 16  past_3_years_bike_related_purchases  19968 non-null  int64
 17  DOB                                  19522 non-null  datetime64[ns]
 18  job_title                            17589 non-null  object
 19  job_industry_category                16746 non-null  object
 20  wealth_segment                       19968 non-null  object
 21  deceased_indicator                   19968 non-null  object
 22  default                              18517 non-null  object
 23  owns_car                             19968 non-null  object
 24  tenure                               19522 non-null  float64
 25  address                              19968 non-null  object
 26  postcode                             19968 non-null  int64
 27  state                                19968 non-null  object
 28  country                              19968 non-null  object
 29  property_valuation                   19968 non-null  int64
dtypes: datetime64[ns](2), float64(5), int64(6), object(17)
memory usage: 4.7+ MB

In [39]:
(data.isnull().sum() > 0)

transaction_id                         False
product_id                             False
customer_id                            False
transaction_date                       False
online_order                            True
order_status                           False
brand                                   True
product_line                            True
product_class                           True
product_size                            True
list_price                             False
standard_cost                           True
product_first_sold_date                 True
first_name                             False
last_name                               True
gender                                 False
past_3_years_bike_related_purchases    False
DOB                                     True
job_title                               True
job_industry_category                   True
wealth_segment                         False
deceased_indicator                     False
default                                 True
owns_car                               False
tenure                                  True
address                                False
postcode                               False
state                                  False
country                                False
property_valuation                     False
dtype: bool